# Kronos Tri-Node Research API Keys
# Paste your keys here. Kronos will automatically load them on boot via python-dotenv.

FRED_API_KEY=d0495968687aeccad424a995fde39c2f
FMP_API_KEY=XafP9gZ5q7OWrgEgyckISaIgv8GqSAMu
ALPHAVANTAGE_API_KEY=AV3UDDY71SR0PV8N
